doctype html(lang='en')
html
    head
        title Cindr.io
        meta(charset="UTF-8")
        meta(name="description", content="With a rapidly growing industry, our target is to handcraft effective app-like platforms for the present-day user. Stay connected to find out more about what our aim and ambition is and how we're pushing boundaries to change the way online products are created.")
        meta(name="keywords", content="cindr.io,cindr,web platform,freelance,company")
        meta(name="author", content="Stefan Mansson")
        meta(name="robots", content="index, follow")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="shortcut icon", href="/assets/images/favicon.png")
        link(rel="stylesheet", href="/assets/css/blossom.css")
        script(type="application/javascript", src="//fast.fonts.net/jsapi/575e23c9-c8c6-46ec-a2e9-040717b5e67d.js")
