footer.footer
	nav.nav
		.contain
			ul.list
				li.item.info &copy; 2016 Cindr.io
				li.item #[a Careers]
				li.item #[a Terms of Service]
				li.item #[a Terms of Service]
				li.item.float-right #[a Contact]
