include components/head.pug
body
	.aligner
		#cindr.contain
			.logo
				img(src="/assets/images/cindr_logo-light.png")
			h4 We build beautiful, user-friendly web platforms from concepts, it's what we love doing
			p With a rapidly growing industry, our target is to handcraft effective app-like platforms for the present-day user. Stay connected to find out more about what our aim and ambition is and how we're pushing boundaries to change the way online products are created.
			.button-group
				a.button(href="https://www.facebook.com/cindr.io/") Connect with us
				a.button.outlined(href="http://m.me/cindr.io") Send us a message
			small Developed by #[a(href="http://mansson.io") @aotik]
