body
	font-family font-family-standard
	font-size font-size-standard
	color text-grey
	border 8px solid white

for h in (1..6)
	h{h}
		font-weight 600
		line-height 1.5em
		font-size lookup('font-size-h' + h)
		color #fff

::selection
	color black
	background-color lighten(primary-color, 80%)

a
	color text-link
	text-decoration none
	cursor pointer
	&:hover
		color text-link-hover

p
	line-height 1.8em
	font-weight 400

small
	font-size .875em
	color text-light
	a
		color inherit
		text-decoration underline
		&:hover
			color text-link

strong
	font-weight 700
